<h1>Requests</h1>

{{#each this}}
<div class="row">
    <ul class="list-group">
<li class="list-group-item  col-md-4"><a href="#/user/{{from}}"><h3>{{fromUsername}}</h3></a></li>
</ul>
</div>
{{/each}}



